*.pyc pycache/ 
*.pyo
*.pyd 
.Python build/ dist/ 
*.egg-info/ 
*.egg 
env/
venv/
.env
.venv/
*.env 
.ipynb_checkpoints/
# Conda environment lock files (optional)
conda-meta/
*.conda
*.lock
/notebooks/nltk_data/

# VSCode or IDE-specific
.vscode/
.idea/


__pycache__/

*.pyc
*.csv
/data/
ta-lib-0.4.0-src.tar.gz
ta-lib/
